@import "variables";
#main {
  min-height: 67.55vh;
  a {
    color: $red;
    &:hover {
      color: $dark-brown;
    }
  }
  .woocommerce,
  .woocommerce-page {
    .woocommerce-MyAccount-navigation {
      @media (max-width: 768px) {
        display: none;
      }
      @media (min-width: 768px) {
        background: #fff;
        padding: 15px;
        border-radius: 15px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @media (max-width: 768px) {
          display: flex;
          gap: 0 16px;
          flex-wrap: wrap;
          flex-direction: column;
          margin-bottom: 1.5rem;
          border-bottom: 1px solid $dark-brown;
          padding-bottom: 1.5rem;
        }
        a {
          text-decoration: none;
          padding: 5px 0;
          display: block;
        }
        .is-active {
          a {
            color: $dark-brown!important;
            font-weight: bold;
          }
        }
      }
      
    }
    .woo-account-select-wrapper {
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 768px) {
        width: 100%!important;
        .select2-container {
          width: 100% !important;
        }
      }
  }
    .woo-account-select {
      @media (max-width: 768px) {
        width: 100%!important;
      }
    }
    .woocommerce-MyAccount-content {
      @media (max-width: 768px) {
        margin-top: 1.5rem;
      }
    }
    form .form-row .input-text, .woocommerce form .form-row select,
    .select2-container .select2-dropdown, .select2-container .select2-selection
     {
      border-color: $white!important;
    }
    .addresses .title .edit {
      float: none!important;
      display: inline-block;
      margin-bottom: 10px;
    }
    .woocommerce-error, .woocommerce-info, .woocommerce-message {
      border-top-color: $red!important;
      &:before {
        color: $dark-brown!important;
      }
    }
    .wp-block-separator.is-style-dots,
    .woocommerce-result-count,
    .woocommerce-ordering,
    .woocommerce-tabs {
      display: none!important;
    }
    /*.wc-block-grid__product-image {
      img {
        border-radius: 50%;
      }
    }*/
    @media (max-width: 576px) {
      ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
        width: 100%!important;
      }
    }
    form.checkout_coupon,
    form.login,
    form.register {
      padding: 0!important;
      border: none!important;
      margin: 0 0 2em 0!important;
    }
    .woocommerce-form-login .woocommerce-form-login__rememberme {
      display: block!important;
    }
    div.product form.cart .variations select {
      background: $white!important;
      border: none!important;
    }
    div.product form.cart div.quantity {
      float: none!important;
    }
    .product-meta {
      display: none!important;
    }
    div.product div.images .flex-control-thumbs {
      li {
        width: 15%!important;
        background: #000;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}
.select2-container .select2-dropdown, .select2-container .select2-selection {
  border-color: $white!important;
}
.wp-block-woocommerce-cart .wp-block-product-new {
  margin-top: 30px;
  .wc-block-grid__product-add-to-cart {
    display: none!important;
  } 
}



#wp-about-your-box-wrap {
  .wp-editor-tabs {
    //float: none!important;
  }
}
.box-details {
  position: relative;
  @media (min-width: 768px) {
    .box-info {
      position: sticky;
      top: 190px;
    }
  }
}
