@font-face {
    font-display: swap;
    font-family: 'TargetBook';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/TargetBookRegular.ttf') format('truetype'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }