@import "variables";
.footer {
    background: $red;
    color: $white;
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $dark-brown;
        }
    }
    img {
        margin: 0 auto;
    }
    .nav-container {
        height: 100%;
        gap: 12px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 10px;
    }
    .contact {
        
    }
}