@import "variables";
body {
    background: $bg-light;
    color: $dark-brown;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.bg-brown {
  background: #c97c36;
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'TargetBook';
    text-transform: uppercase;
}
//Override container widths
@media (min-width: 576px) { /* Small */
  .container-sm {
    max-width: 540px; /* or any custom value you need */
  }
}

@media (min-width: 768px) { /* Medium */
  .container-md {
    max-width: 992px;
  }
}

@media (min-width: 992px) { /* Large */
  .container-lg {
    max-width: 1110px;
  }
}

@media (min-width: 1200px) { /* Extra large */
  .container-xl {
    max-width: 1240px; /* Updated to 1440px */
  }
}

@media (min-width: 1400px) { /* Extra extra large */
  .container-xxl {
    max-width: 1420px; /* Slight increase to maintain balance */
  }
}
img {
  max-width: 100%;
  height: auto;
}
.button,
.add-shelter,
input[type="submit"],
.wc-block-components-button {
  background: $dark-brown!important;
  color: $white!important;
  margin-top: 12px!important;
  font-size: 100%;
  margin: 0;
    margin-top: 0px;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: .618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: #515151;
  background-color: #e9e6ed;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  &:hover {
    background: $red!important;
  }
  &.button-large {
    padding: 1.5em 2em;
  }
  &.button-red {
    background: $red!important;
    &:hover {
      background: $dark-brown!important;
    }
  }
}
.remove-shelter {
  float: right;
  margin: 0 0 10px 0;
  cursor: pointer;
}
#wp-link-wrap {
  height: 280px !important;
  margin-top: -140px !important;
  label {
    display: block!important;
  }
  #wp-link .link-target label {
    max-width: 100%;
  }
  #wplink-link-existing-content {
    display: none!important;
  }
}

.comments-section {
  .commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .comment {
    border-left: 1.5px solid rgba(0,0,0,.1);
    padding-left: 15px;
    margin: 10px 0 20px 0;
    .comment-author {
      font-weight: bold;
     
    }
    .comment-meta {
      display: none;
    }
    .children {
      list-style: none;
      padding: 0;
    }
  }
  #comments {
    margin-bottom: 18px;
  }
  .comment-body {
    display: grid;
    grid-template-columns: 1fr;
    .comment-author {
      grid-row: 2;
      cite {
        font-style: normal;
      }
      &:before {
        //content: '-';
      }
      .says {
        display: none;
      }
    }
    p {
      grid-row: 1;
      margin-bottom: 0;
    }
    .reply {
      grid-row: 3;
    }
  }
  .comment-notes {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .comment-form-comment textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
  }
  #reply-title {
    margin-top: 8px;
    small {
      display: block;
      font-size: 1rem;
      margin-top: 5px;
    }
  }
  #respond {
    textarea {
      border: 1px solid $dark-brown;
    }
    .comment-form-email,
    .comment-form-author {
      label {
        display: block;
        width: 100%;
      }
      input {
        display: block;
        width: 100%;
        border-radius: 5px;
        border: 1px solid $dark-brown;
        padding: 5px;
      }
    }
  }
}