@import "variables";
.site-header {
  //background: $red;
  //border-bottom: 4px solid $dark-brown;
  position:fixed;
    top:0;
    width: 100%;
  top: 0;
  @media (max-width: 992px) {
    background: $white;
    padding-top: 0!important;
  }
  .home-link {
    img {
      width: 8.5rem;
      height: auto;
    }
    h1 {
      color: $dark-brown;
      //text-shadow: 5px 5px rgba(250,219,175, .5);
      margin: 0 0 0 1rem;
      line-height: 2.1rem;
      transition: .2s color;
      span {
        display: block;
      }
    }
    &:hover {
      h1 {
        color: $light-brown;
        //text-shadow: -0 0 rgba(250,219,175, 1);
      }
    }
  }
  .logo {
    img {
      max-width: 100%;
      transition: .2s max-width;
      display: block;
      margin: 0 auto;
      @media (max-width: 992px) {
        max-width: 96px;
      }
    }
  }
  .menu {
    @media (min-width: 992px) {
      height: 100%;
    }
    @media (max-width: 992px) {
      & + .menu {
        margin-left: 20px; 
      }
    }
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'TargetBook';
    a {
      color: $dark-brown;
      font-size: 1.2rem;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
  }
}
#main {
  @media (min-width: 992px) {
    padding-top: 180px;
  }
  @media (max-width: 992px) {
    padding-top: 80px;
  }
  @media (max-width: 768px) {
    padding-top: 70px;
  }
  
}
body {
  @media (min-width: 992px) {
    &.nav-is-sticky {
      .site-header {
        background: $white;
        padding-top: 0!important;
        .logo {
          img {
            max-width: 125px;
          }
        }
      }
      #main {
        padding-top: 180px;
      }
    }
  }
}