@import "variables";
.site-header {
  //background: $red;
  //border-bottom: 4px solid $dark-brown;
  position:fixed;
    top:0;
    width: 100%;
  top: 0;
  z-index: 999;
  @media (max-width: 992px) {
    background: $white;
    padding-top: 0!important;
  }
  .logo {
    img {
      max-width: 100%;
      transition: .5s max-width;
      display: block;
      @media (min-width: 992px) {
        margin: 0 auto;
      }
      @media (max-width: 992px) {
        max-width: 96px;
      }
    }
  }
  .menu {
    @media (min-width: 992px) {
      height: 100%;
    }
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'TargetBook';
    a {
      color: $dark-brown;
      font-size: 1.2rem;
      text-decoration: none;
      &:hover {
        color: $red;
      }
    }
    &.menu-left {
      li {
        a {
          @media (min-width: 992px) {
            margin-left: 20px;
          }
        }
      }
    }
    &.menu-right {
      li {
        a {
          @media (min-width: 992px) {
            margin-right: 20px;
          }
        }
      }
    }
    .highlight {
      a {
        background: $red;
        color: $white;
        border-radius: 5px;
        padding: 5px 8px;
        &:hover {
          background: $dark-brown;
        }
      }
    }
  }

  #mobile-nav {
    .menu {
      &:first-of-type {
        margin-top: 2px;
        border-top: 1px solid $brown;
        li {
          &:first-of-type {
            margin-top: 10px;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 10px;
      }
      li {
        margin: 5px 0;
        width: 100%;
        padding-left: 5px;
        a {
          font-size: 1.4rem;
        }
        &.highlight {
          margin: 10px 0;
        }
      }
    }
  }

  .hamburger {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    //padding: 5% 0 5% 5%;
    background-color: $brown;
    z-index: 999;
  
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $white;
      transform: translate(-50%,-50%);
  
      &:before, &:after {
        position: absolute;
        content: '';
        width: 20px;
        height: 2px;
        background-color: $white;
      }
  
      &:before {
        transform: translateY(-5px);
        animation: burger3 250ms linear;
      }
  
      @keyframes burger3 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(-5px) rotate(0deg); }
      }
  
      &:after {
        transform: translateY(5px);
        animation: burger4 250ms linear;
      }
  
      @keyframes burger4 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(5px) rotate(0deg); }
      }
    }
  }
  #menu {
    display: none;
  
    &:checked ~ .hamburger {
  
      > div {
        visibility: hidden;
  
        &:before, &:after {
          visibility: visible;
          background-color: $white;
          transform-origin: center center;
          transform: translateY(0);
          transition: all 250ms linear;
        }
  
        &:before {
          transform: rotate(-45deg);
          animation: burger1 250ms linear;
        }
  
        @keyframes burger1 {
          0%   { transform: translateY(0); }
          50%  { transform: translateY(0); }
          100% { transform: translateY(0) rotate(-45deg); }
        }
  
        &:after {
          transform: rotate(45deg);
          animation: burger2 250ms linear;
        }
  
        @keyframes burger2 {
          0%   { transform: translateY(0); }
          50%  { transform: translateY(0); }
          100% { transform: translateY(0) rotate(45deg); }
        }
      }
    }
  
    &:checked ~ .menu {
      display: block;
      height: 100%;
      transition: height 150ms linear;
    }
  }
}
#main {
  @media (min-width: 1400px) {
    padding-top: 235px;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    padding-top: 200px;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    padding-top: 160px;
  }
  @media (max-width: 992px) {
    padding-top: 100px;
  }
  @media (max-width: 768px) {
    padding-top: 95px;
  }
  
}
body {
  &.admin-bar {
    .site-header {
      margin-top: 32px;
      @media screen and (max-width: 782px) {
        margin-top: 46px !important;
      }
    }
  }
  @media (min-width: 992px) {
    &.nav-is-sticky {
      .site-header {
        background: $white;
        padding-top: 0!important;
        .logo {
          img {
            max-width: 125px;
          }
        }
      }
      
    }
  }
}


.treat-text {
  font-size: 7vw;
  line-height: 6vw;
  @media (max-width: 768px) {
    font-size: 60px;
    line-height: 55px;
  }
  span {
    color: $red;
  }
}
.bone-container {
  @media(max-width: 768px) {
    //transform: rotate(21deg);
    position: absolute;
    top: 0;
    right: 0;
  }
}