@import "variables";
.site-header {
  background: $red;
  border-bottom: 4px solid $dark-brown;
  .home-link {
    img {
      width: 8.5rem;
      height: auto;
    }
    h1 {
      color: $dark-brown;
      //text-shadow: 5px 5px rgba(250,219,175, .5);
      margin: 0 0 0 1rem;
      line-height: 2.1rem;
      transition: .2s color;
      span {
        display: block;
      }
    }
    &:hover {
      h1 {
        color: $light-brown;
        //text-shadow: -0 0 rgba(250,219,175, 1);
      }
    }
  }
  .site-navigation {
    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: 'TargetBook';
      
      a {
        color: $dark-brown;
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}