$bg-light: #f5e6c7;
$dark-brown: #531a21;
$brown: #cb7c37;
$light-brown: #fbdaaf;
$brown-shadow: #c9772e;
$red: #f24d5b;
$white: #fff;

$award-1: #90b4ce;
$award-10: #078080;
$award-25: #ff8ba7;
$award-50: #faae2b;
$award-100: #9656a1;
$award-500: $red;